*{

    box-sizing: border-box;
}


body{

    margin: 0;
    font-family: 'Source Sans Pro';
    font-size: 1rem;
    color: #404040;
    text-align: center;
    
    
}

h1{

    font-weight: 300;
    font-size: 2.25rem;
    color: #fff;
    /* margin: 2em 0; */
    margin: 0;
   
}

strong{

    font-weight: 400;
}

h2{

    font-size: 1.3125rem;
    margin: 0;
    
}

h1 + p{

    color: #f18119;
    font-weight: 900;
    font-size: 1.3125rem;
    margin: 0;
    text-transform: uppercase;

}

h2 + p{

    color: #f18119;
    font-weight: 900;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 0;
}

.top-text{

    font-size: 0.625rem;
    font-weight: 900;
    color: #f18119;
    text-transform: uppercase;
    order: -1;
    border-top: 5px solid #f18119;
    padding-top: 2px;
    border-image: linear-gradient(to right, #ff713b, #ffa51d) 1;
   
}

.fine-print{

    letter-spacing: 1px;
    font-size: 0.625rem;
}

.intro{

    background-image: url("/images/ribs.jpg");
    background-blend-mode: overlay;

    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0.25em 2em;
    margin-top: 0;
    background-color: #404040;
    display: flex;
    flex-direction: column;
    background-position: center;
    justify-content: space-between;
    min-height: 50vh;

}

.main-content{

    padding: 2em 1em;
  
}




.intro > *,.main-content > *{

    max-width: 400px;
    margin: 0 auto;
}

.email-collector{
    width: 80%;
    max-width: 300px;
}

input, .btn{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 0.75em;
    
}

input{
    transition: all 500ms;
    padding: .25em;
    transform:scale(1);
    text-align: inherit;
    font-family: inherit;
    
}

input:focus{
    transform: scale(1.1);
}

.btn{
    
    text-transform: uppercase;
    font-size: 0.652rem;
    font-weight: 900;
    letter-spacing: 1px;
    border: none;
    cursor:pointer;
    padding: 0.8em;

}

.btn-primary{
    background: linear-gradient(to left, #ff713b, #ffa51d);
    color: #fff;
    transition: all 500ms;
    transform: scale(1);
}


.btn-primary:hover, .btn-primary:focus{
    background: linear-gradient(to right, #ff713b, #ffa51d);
    color: black;
    transform: scale(1.1);
}



@media(min-width:500px){

    body{
       display: flex;
        font-size: 1.125rem;
    }
    h1{
        font-size: 3.5rem;
    }
    h2{

        font-size: 1.5rem;
    }
    h1 + p{

        font-size: 1.5rem;
    }
    .intro,.main-content{

        width: 50%;
        min-height: 100vh;
    }
    .main-content{

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

   

}

 .main-body{
    
    margin-top: 0.7em;
    margin-bottom: 0.8em;

}